{% extends "base.html" %}

{% block content %}

<div id='updateAuthorForm'>
  <h6 id = 'updateAuthorFormHeader'>{{author.last_name}}, {{author.first_name}}</h6>


  {% if author.date_of_birth and author.date_of_death %}
    <p>Born {{author.date_of_birth}}</p>
    <p>Died {{author.date_of_death}}</p>
  {% elif author.date_of_birth %}
      <p>Born {{author.date_of_birth}}, Alive</p>
  {% else %}
      <p></p>
  {% endif %}

  {% if author.bio %}
  <p>{{author.bio}}</p>
</div>

  {% else %}
  <p><strong>No summary is provided for this author</strong></p>
  {% endif %}

  {% for bk in author_books %}
    {{bk.title}}
  {% endfor %}
    <div class="authorDetailButtons">
      <button id='updateAuthorButton' type="button" class="btn btn-secondary">
      <a href="{% url 'library_app:edit-author' author.pk %}">Edit Author Information</a>
      </button>

      <button id='goBackAuthorButton' type="button" class="btn btn-secondary">
      <a href="{% url 'library_app:author-list' %}">See All Authors</a>
      </button>
    </div>



{% endblock %}
