{% extends "base.html" %}

{% block content %}
  <h4>{{ book.title }}</h4>


  <p><strong>Author: </strong><a href="{% url 'library_app:author-detail'  book.author.pk %}">{{book.author}}</a></p>
  <p><strong>Summary: </strong>{{book.summary}}</p>
  <p><strong>ISBN: </strong>{{book.isbn}}</p>
  <p><strong>Language: </strong>{{book.language}}</p>
  <p><strong>Genre: </strong>

    {% for genre in book.genre.all %}
      {{genre}}
      {% if not forloop.last %}, {% endif %}
    {% endfor %}</p>


  {% endblock %}
