.landingPage {
  margin-top: 10%;
  text-align: center;
}

#purposeHeader {
  font-style: oblique;
}

#newsletterForm {
  font-size: 1.5em;
  font-style: italic;
  font-family: fantasy;
}

#addBookForm {
  margin-top: 10%;
}
