.landingPage {
  margin-top: 10%;
  text-align: center;
}

#purposeHeader {
  font-style: oblique;
}

#newsletterForm {
  font-size: 1.5em;
  font-style: italic;
  font-family: fantasy;
}

#addBookForm {
  margin-top: 10%;
}

#authorRegisterForm {
  text-align: center;
  font-size: 30px;
  font-style: oblique;
  margin-top: auto;
}

#bookRegisterForm {
  text-align: center;
  font-style: oblique;
  margin-top: auto;
  font-size: 1.5em;
}

#contactUsForm {
  text-align: center;
  font-style: oblique;
  margin-top: auto;
  font-size: 1.5em;
}
