<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- BOOTSTRAP4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- JAVASCRIPT -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {# FONTS #}

    {# MASTER CSS #}
    <link rel="stylesheet" href="{% static 'library_app/css/master.css' %}">

  </head>
  <body>
    {# NAVIGATION BAR #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="nav-link" href="{% url 'library_app:index' %}">
        <img src="/static/library_app/brand_logo/logo.png" height="30">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'library_app:index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'library_app:book-list' %}">Catalog</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'library_app:author-list' %}">Authors</a>
          </li>

          {% if user.is_authenticated %}

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'library_app:add-book' %}">Add a New Book</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'library_app:add-author' %}">Register New Author</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'contact-form' %} ">Contact</a>
          </li>

          {% endif %}

          <!-- ACCOUNTS BAR LOGIN LOGOUT SIGNUP PROFILE -->
          {% if user.is_authenticated %}

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'accounts:profile' %}">{{user.username}}'s Profile</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'accounts:logout' %}">Log out</a>
          </li>
          {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
          </li>
          
          {% endif %}
        </ul>


    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

  <div class="container">
    {% block content %}
      {# ALL THE CONTENT GOES HERE #}
    {% endblock %}
  </div>
  </body>
  <script type="text/javascript" src="{% static 'library_app/js/master.js' %}">

  </script>
</html>
